/* BODY
body {
    font-family: 'Manrope', sans-serif;
    background:#C4C4C4;
    font-weight: 600;
    max-width: 1350px;
    width: 95%;
    height: 600px;
    margin: auto;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.3fr 1.7fr; 
    gap: 0px 0px; 
  }

/* nav 
ul {
    grid-area: 1/2/1/2;
    margin: 10px 10px;
    margin-left: auto;
    width: 400px;
    list-style-type: none;
    overflow: hidden;
    padding: 1px;

}

.active, li a:hover {
    
    background-color: #6F00FF;
    border: 1px solid black;
    border-radius: 3px;

}


li a {
    float: left;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;

}

/* img *
img {
    margin: 10PX 10px;
    width: 100px;
    grid-area: 1/1/1/1;
    display: flex;
    justify-self: flex-start;
}

/* section *

article.description {
    grid-area: 2/1/3/2;
    font-size: 50px;
    align-self: center;
}

article.info {
    grid-area: 2/2/3/3;
    display: grid; 
    grid-template-columns: 337px 338px;
    grid-template-rows: 255px 255px 
}

section {
    display: flex;
    flex-direction: column;
    height: 100px;
    align-self: center;
    align-items: center;
    justify-self: center;
    justify-content: center;
}

section p {
    margin: 0px;
    font-size: 35px;
}

.line {
    text-decoration: underline #6F00FF ;
}


 */
